<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Профиль пользователя</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Главная страница</a></li>
    {% for m in menu %}
    <li>
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    {% endfor %}
    </li>
</ul>
<form method="post" enctype = 'multipart/form-data'>
    {% csrf_token %}
    {% if user.photo %}
    <p><img class = 'img-article-left thumb' src=" {{ user.photo.url}}"></p>
    {% else %}
    <p><img src ='{{default_image}}'></p>
    {% endif %}
    {{ form.as_p }}
    <p><button type="submit">Сохранить</button></p>

</form>
<p> <a href="{% url 'users:password_change' %}">Сменить пароль</a> </p>
<form action="{% url 'users:delete' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info">Удалить аккаунт</button>
</form>
</body>
</html>