
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="{% static 'bestcar/css/style_base.css' %}">
</head>

<body>

        {% block menu %}
        <ul class="menu" >
            <li><a href="{% url 'home' %}">
            <img src="{% static 'bestcar/images/logo.png' %}" class="logo" alt="Best car" /></a></li>
            {% for m in menu %}
            <li> <a href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% endfor %}
            <li><a href="#">About<i class="user"></i></a>
                <ul class="submenu">
                    <li> <a href="{% url 'users:profile' %}">Профиль</a></li>
                    <li> <a href="{% url 'users:register' %}">Регистрация</a></li>
                    <li> <a href="{% url 'users:login' %}">Войти</a></li>
                </ul>
            </li>

        </ul>
        {% endblock menu %}

    {% block content %}
    {% endblock %}
</body>
</html>