<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
 <h1>{{title}}</h1>
<ul>
<form action="{% url 'search' %}" method="get">
  <input name="d" type="text" placeholder="Откуда...">
    <input name="a" type="text" placeholder="Куда...">
    <input name="s" type="text" placeholder="Количество пассажиров...">
    <input name="t" type="datetime-local" placeholder="Когда...">
    
    <p><button type="submit">Отпраить</button>
</form>
</ul>
</body>
</html>