<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<form action="{% url 'users:profile' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info">profile</button>
</form>
<form action="{% url 'users:register' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info">register</button>
</form>
<form action="{% url 'users:logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info">Logout</button>
</form>
<form action="{% url 'users:login' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info">Login</button>
</form>
<ul>
    <li><a href="{% url 'home' %}">Главная страница</a></li>
    {% for m in menu %}
    <li>
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    {% endfor %}
    </li>
</ul>

<form action="{% url 'search' %}" method="get">
  <input name="d" type="text" placeholder="Откуда...">
    <input name="a" type="text" placeholder="Куда...">
    <input name="s" type="text" placeholder="Количество пассажиров...">
    <input name="t" type="datetime-local" placeholder="Когда...">
    <input type="radio" name="cat" value="car"> Автомобиль
    <input type="radio" name="cat" value="bus"> Автобус
    <input type="radio" name="cat" value="both"> Неважно

    <p><button type="submit">Отпраить</button>
</form>
</body>
</html>