{% extends 'bestcar/base.html' %}
{% block content %}
    <title>{{title}}</title>

<form action="{% url 'search' %}" method="get">
  <input name="d" type="text" placeholder="Откуда...">
    <input name="a" type="text" placeholder="Куда...">
    <input name="s" type="text" placeholder="Количество пассажиров...">
    <input name="t" type="datetime-local" placeholder="Когда...">
    <input type="radio" name="cat" value="car"> Автомобиль
    <input type="radio" name="cat" value="bus"> Автобус
    <input type="radio" name="cat" value="both"> Неважно

    <p><button type="submit">Отпраить</button>
</form>

{% endblock %}