<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>Поиск</h1>
<ul>
    <li><a href="{% url 'home' %}">Главная страница</a></li>
    {% for m in menu %}
    <li>
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    {% endfor %}
    </li>
</ul>
<ul>
    {% for item in object_list  %}
    <li>

        <td>{{item.departure}}</td>
        <td>{{item.arrival}}</td>
        <td>{{item.models_auto}}</td>
        <td>{{item.date_time}}</td>
        <td>{{item.seating}}</td>
        <td>{{item.author.username|default:'Неизвестен'}}</td>
    </li>
    {% endfor %}
</ul>


</body>
</html>