.bar{
height: 150px;
}
.result_trip{
margin: 0px;
width: 800px; /*высота*/
height: 140px; /*ширина*/
padding: 1.2rem; /*отступы*/
outline-width: 2px;
outline-style:solid; /*стиль контура*/
outline-color: #4D88FF ;  /*цвет*/
margin-bottom: 1rem; /*толщина отступа*/
border-radius: 13px; /*ширина радиуса в пиксилях*/
margin-left: auto;  /*выравнивание по правому*/
}

p{
display:inline-block;
float: right;
}

.logo_cat{
position: relative;
top: 110px;
left: -85px;
}

.default_img, .person_img{
width: 35px;
height: 35px;
position: relative;
top: 112px;
left: 80px;
border-radius: 100px; /* Радиус скругления */
border: 2px solid #4D88FF; /* Параметры рамки */

}

.departure{
position: relative;
margin: 0px;
float: left;
right: 0px;
top: 50px;
left: 20px;
font-family: "Segoe UI", Consolas, sans-serif;
font-size: 16px;
font-weight: 600;
color:#190B44
}

.arrival{
position: relative;
margin: 0px;
float: left;
right: 0px;
top: 50px;
left: 120px;
font-family: "Segoe UI", Consolas, sans-serif;
font-size: 16px;
font-weight: 600;
color:#190B44
}

.departure_time{

position: relative;
left: -745px;
font-family: "Segoe UI", Consolas, sans-serif;
font-size: 16px;
font-weight: 600;
color:#190B44
}

.arrival_time{
position: relative;
left: -553px;
font-family: "Segoe UI", Consolas, sans-serif;
font-size: 16px;
font-weight: 600;
color:#190B44
}

.filter{
position: absolute;
width: 400px; /*высота*/
height: 500px;
outline-width: 2px;
outline-style:solid; /*стиль контура*/
outline-color: #4D88FF ;  /*цвет*/
border-radius: 13px;
top: 262px;
}

.models_auto{
margin: 0px;
position: relative;
top: 120px;
left: -500px;
font-family: "Segoe UI", Consolas, sans-serif;
font-size: 16px;
font-weight: 600;
color:#190B44
}

.price{
position: relative;
top: -10px;
left: 10px;
font-family: "Segoe UI", Consolas, sans-serif;
font-size: 26px;
font-weight: 700;
color:#190B44
}

.username{
margin: 0px;
position: relative;
top: 120px;
left: -270px;
font-family: "Segoe UI", Consolas, sans-serif;
font-size: 16px;
font-weight: 600;
color:#190B44
}
